<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso VueJS</title>
  <script type="text/javascript" src="https://unpkg.com/vue"></script>
  <style>
    body { background: gray;}
  </style>

</head>
<body>

  <div id="app1">
    <h3>Instância 1</h3>
    <my-component></my-component>
    <my-component></my-component>
  </div>

  <div id="app2"></div>

<script type="text/javascript">

Vue.component('my-component', {
  template: `<h3>Texto do component</h3>`
});

let vm1 = new Vue({
  el: "#app1"
})

let vm2 = new Vue({
  el: "#app2",
  template: `<div><h3>Instância 2</h3><my-component></my-component></div>`
})



</script>

</body>
</html>
