<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Curso VueJS</title>
  <script type="text/javascript" src="https://unpkg.com/vue"></script>
  <style>
    body { background: gray;}

  </style>

</head>
<body>

  <div id="app">
    <h3>Tarefas Incompletas (v-if)</h3>
    <ul>
      <li v-for="tarefa in tarefas" :key="tarefas.id" v-if="!tarefa.completa">{{ tarefa.titulo }}</li>
    </ul>
    <hr>
    <h3>Tarefas Incompletas (Computed)</h3>
    <ul v-if="tarefasIncompletas.length">
      <li v-for="tarefa in tarefasIncompletas" :key="tarefas.id" >{{ tarefa.titulo }}</li>
    </ul>
    <p v-else>Não há tarefas</p>
  </div>

  <script type="text/javascript">
    new Vue({
      el: "#app",
      data: {
        tarefas: [
          { id: 1, titulo: 'Monitor', completa: true },
          { id: 2, titulo: 'Teclado', completa: false },
          { id: 3, titulo: 'Mouse', completa: false },
          { id: 4, titulo: 'Processador', completa: false },
        ]
      },
      computed: {
        tarefasIncompletas: function(){
          return this.tarefas.filter(function(tarefa){
            return !tarefa.completa;
          });
        }
      }

    })
  </script>

</body>
</html>